<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <title>Validating tools</title>
  </head>
  <body>
    <div class="jumbotron">
      <div class="container text-center">
        <h1>Labeling data</h1>
        <p>Using active learning of model.</p>
      </div>
    </div>

    <div class="container">
        <div class="row">
            <h2>These categories will be used.</h2>
        </div>
    </div>

     <div class="container" id="categories">
        <div class="row category">
            {% for item in categories %}
                {% if loop.index % 6 != 1 or loop.index == 1 %}
                    <div class="category col-sm-2">
                        <div class="category_button">{{ item[0] }} {{ item[1] }}</div>
                    </div>
                {% else %}
                    </div>
                    <div class="row category">
                        <div class="category col-sm-2">
                            <div class="category_button">{{ item[0] }} {{ item[1] }}</div>
                        </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="container">
        <div class="row">
            <h2>Select data and additional options.</h2>
        </div>
    </div>

    <div class="container">
        <div id="options">
            <div class="row justify-content-center">
                <label>Using saved model (Not checked after adding new category)?</label>
            </div>
            <div class="row justify-content-center">
                    <input type="checkbox" id="saved_model" checked/>
            </div>
            <div class="row justify-content-center">

                <label>Marker from zero (otherwise need manually change - './app/static/data/marker.txt')?</label>
            </div>
            <div class="row justify-content-center">
                    <input type="checkbox" id="marker" checked/>
            </div>
            <div class="row justify-content-center">
                    <p> </p>
            </div>
            <div class="row justify-content-center">
                <button type="button" class="btn model_btn btn-success" onclick="load_data()" id="saveData">Load Data</button>

            </div>
            <div class="row">
                <br/>
            </div>
        </div>
        <div class="row justify-content-center">
            <div id="loading" style="display: none;">
                <div class="spinner">
                  <div class="bounce1"></div>
                  <div class="bounce2"></div>
                  <div class="bounce3"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="alert alert-success" id="success-alert" style="display: none;">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong id="saveDataMsg">Success! </strong>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/popper.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/d3.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/Chart.min.js') }}" type="text/javascript"></script>

    <script src="{{ url_for('static', filename='js/data_input.js') }}" type="text/javascript"></script>

    <footer class="container-fluid text-center">
      <p>Ⓒ Petr Lorenc</p>
    </footer>
  </body>
</html>