<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <title>Validating tools</title>
  </head>
  <body onload="loadSentence({{ sentence_json }}, {{ categories }})">

    <div class="jumbotron">
      <div class="container text-center">
        <h1>Labeling data</h1>
        <p>Using active learning of model.</p>
      </div>
    </div>

    <div class="container" id="categories">
        <div class="category row">
            {% for item in categories %}
                {% if loop.index % 6 != 1 or loop.index == 1 %}
                    <div class="category col-sm-2">
                        <!--suppress XmlDuplicatedId -->
                        <div id="category{{ loop.index }}" class="category_button" onclick="changeCategoryName({{ loop.index }});">{{ item[0] }} {{ item[1] }}</div>
                    </div>
                {% else %}
                    </div>
                    <div class="category row">
                        <div class="category col-sm-2">
                            <!--suppress XmlDuplicatedId -->
                            <div id="category{{ loop.index }}" class="category_button" onclick="changeCategoryName({{ loop.index }});">{{ item[0] }} {{ item[1] }}</div>
                        </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="list-group">
                    <h2>Sentence</h2>
                    {% for item in sentence_list %}
                        {% if item[1] == '1' %}
                            <li class="list-group-item text-danger" onclick="changeEntityType('{{ loop.index0 }}')">{{ item[0] }}</li>
                        {% else %}
                            <li class="list-group-item" onclick="changeEntityType('{{ loop.index0 }}')">{{ item[0] }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <div class="col">
                <ul class="list-group" id="category-group">
                    <h2>Tag</h2>
                    {% for item in sentence_list %}
                        {% if item[1] == '1' %}
                            <li class="list-group-item text-danger">{{ item[2] }}</li>
                        {% else %}
                            <li class="list-group-item">{{ item[2] }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div id="content" class="col-6 p-2 m-2">
                <div class="btn-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn model_btn btn-success" onclick="saveData()" id="saveData">Save</button>
                  <button type="button" class="btn model_btn btn-danger" onclick="location.href='{{ url_for('validate') }}';">Next</button>
                  <button type="button" class="btn model_btn btn-warning" onclick="save_model();">Save Model</button>
                  <button type="button" class="btn model_btn btn-warning" onclick="load_model();">Load Model</button>
                  <button type="button" class="btn model_btn btn-warning" onclick="test_model();">Test Model</button>
                  <button type="button" class="btn model_btn btn-warning" onclick="retrain_model();">Retrain Model</button>
                </div>
            </div>
            <div id="loading">

            </div>
        </div>
    </div>

    <div class="alert alert-success" id="success-alert">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong id="saveDataMsg">Success! </strong>
    </div>

     <div class="container">
        <div class="row">
            <p>
                <b>Version 0.2</b>
            </p>
        </div>
        <div class="row">
            <p>
                <b>Proclamation:</b>
                <ul>
                    <li>Button Save will save the sentence.</li>
                    <li>Button Next will show next sentence.</li>
                    <li>Button Save - save model</li>
                    <li>Button Load - load new model</li>
                    <li>Button Retrain - train model on new data (then you should save it)</li>
                    <li>Button Test - test actual model</li>
                </ul>
            </p>
            <p>
                <b>How to use it:</b>
                After displaying the sentence you can choose the category and by clicking at the words you will assign the labels.
                You should click from left to right (from up to down) to have proper B/I tags. If you click on already labeled word, the label will be deleted.
                After clicking at OK button the labeled sentence will be saved. You can save even sentence even with no entity or also save one sentence multiple times (for example with different labels).
            </p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div id="score_text"></div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-5 p-2 m-2">
                <canvas id="trainTest" width="0" height="0"></canvas>
            </div>
            <div class="col-5 p-2 m-2">
                <canvas id="loss" width="0" height="0"></canvas>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/popper.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/d3.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/Chart.min.js') }}" type="text/javascript"></script>

    <script src="{{ url_for('static', filename='js/data_manipulation.js') }}" type="text/javascript"></script>

    <footer class="container-fluid text-center">
      <p>Ⓒ Petr Lorenc</p>
    </footer>
  </body>
</html>